/* styles.css ou styles.scss */
.small-image {
    width: 50px;
    /* Largeur souhaitée */
    height: 50px;
    /* Hauteur souhaitée */
}
h1 {
    text-align: center;
    ;
    font-size: 2rem;
}

#submitButton {
    margin-top: 20px;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}

.darken-grey-text {
    color: #2E2E2E;
}

a:hover{
  color: blue;
}

.user-icon {
    font-weight: bold;
    font-size: 18px;
    color: #007bff;
    /* Couleur du texte */
    text-decoration: none;
}



/* Styles pour réduire la taille de police des éléments du menu déroulant */
.dropdown-item {
    font-size: 14px;
    /* Ajustez la taille de la police selon vos préférences */
}

/* Styles pour réduire la taille de police des éléments du menu déroulant au survol */
.dropdown-item:hover {
    font-size: 14px;
    cursor: pointer;
       
    /* Ajustez la taille de la police selon vos préférences */
}