

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Student Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

   
</nav>

<div class="container">   
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="container-fluid">
        
            <div class="row">
                <div class="col-md-4 mt-5">
                    <div class="card border-0 shadow p-3">
                        <div class="form-floating mb-3 tetx-center">
                            <h5 class="text-center text-warning">Add Student</h5>
                        </div>
                       
        
                        <div class="form-floating mb-3">
                            <input   type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName">
                            <label for="firstName">First name</label>
                                    <small *ngIf="studentForm.get('firstName')?.hasError('required')" id="firstName" class="form-text text-danger">Required
                                        Field.</small>

                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName">
                            <label for="lastName">Last name</label>
                                    <small *ngIf="studentForm.get('lastName')?.hasError('required')" id="lastName" class="form-text text-danger">Required
                                        Field.</small>

                        </div>
                      
                        <button type="submit" [disabled]="studentForm.invalid"  class="btn btn-outline-success">Add Student</button>
                    </div>
        
                </div>
                <div class="col-md-8 mt-2">
                    <h5 class="text-danger"> Student List</h5>

            <br>
                    <div class="card p-3 shadow">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">First name</th>
                                        <th scope="col">Last name</th>
                                         <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of filteredStudents |  paginate: { itemsPerPage: 2, currentPage: p }; index as i">
                                        <td>{{s.firstName}}
                                        </td>
                                       <td>{{s.lastName}}</td>
                                        <td>
                                            <button class="btn btn-outline-danger" (click)="deleteStudentother(s.id,s)">Delete</button>
                                        </td>
                                        <td>
                                       <button       (click)="updateStudent(s)" class="btn btn-outline-info">Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>

        
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </form>

    

</div>




